
<h1>Digital Records Approval Form for CASE ID: TR2022-PRJ-123456</h1>
<form>
    <div class="row">
        <div class="col-md-12">
            <h2>3.0 Digital Records Repository Requirements</h2><br/>
            <h4>3.1 Capture</h4><br/>
            <label for="">Provide evidence the system has the ability to declare digital images and/or electronic documents Records. 
                (i.e. how does the system know that this document is a record) (Note: Email confirmation from technology or system 
                documentation. It is advisable to work with your technpartner for completion)</label><br/>
            <input class="form-control" id="" name="" type="file"><br/>
            <label for="">Provide evidence that the system captures Records as read-only and prevents modification during the image capture process.</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Provide evidence that the system provides notification of any process failures related to the capture of a Record 
                (Note: Provide examples of error logs and error handling process)</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <input class="form-control" id="" name="" type="file"><br/>
            <h4>3.2 User Access Control</h4><br/>
            <label for="">Provide confirmation that the system enforces user authentication in alignment with CIBC Standards (Note: for example, the system 
                leverages single sing-on)</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Provide confirmation the system restricts user access to Records based on the principles of least privileged access 
                (e.g. users can only see Records their LOB is responsible for) (Note: confirmation email from technology based on system configuration)</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <h4>3.3 Record Classification</h4><br/>
            <label for="">Will the system hold Records from multiple regional locations? If yes, provide evidence the system supports multiple Retention Schedules</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Provide a process to update the systems' retention schedule (file plan) when updates are made.</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <h4>3.4 Record Integrity</h4><br/>
            <label for="">Provide confirmation that the system ensures the integrity of the Records by preventing unauthorized alteration.</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">It is critical that we retain original unaltered records. However, if a modification is required this would result in a new Record being created.</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <h4>3.5 Record Aggregation</h4><br/>
            <label for="">Provide confirmation the system has at least one level of aggregation for all Records (e.g. LOB, Product)</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Provide confirmation that access to update aggregation is restricted to technology administrators</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <h4>3.6 Record Retrieval</h4><br/>
            <label for="">Provide evidence that Records can be retrieved using search capabilities on mandatory metadata.</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <h4>3.7 Record Migration</h4><br/>
            <label for="">Does the system support the mass migration or bulk ingestion of Records, including associated metadata from another electronic system? (Note: Metadata may 
                be mapped between source ssytem and target system. Migration of Records between systems does not interrupt their aging.)</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Confirm if this initiative will involve any Records migration? If so, what metrics will be leverages to confirm all content and metadata has successfully migrated?</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <h4>3.8 Record Preservation</h4><br/>
            <label for="">Provide confirmation how the system will retain a Record beyond the prescribed retention period to support Legal Holds</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Provide evidence the system can provide a report on all Records subject to Legal Holds</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <h4>3.9 Record Back-Ups & Recovery</h4><br/>
            <label for="">Please advise what the systems Recovery Time Objective (RTO) and Recovery Point Objective (RPO) are? Please work with your tech-partner to determine this (as per OPS5 Service Continuity Mgmt Standard)</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <h4>3.10 Record Disposition</h4><br/>
            <label for="">Provide evidence (i.e. audit log) of the system disposition process which should include all back-up.recovery systems.</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Provide evidence the system has the ability ot cancel a scheduled disposition</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
        </div>
    </div>
    <div class="row">
        <button type="button" onclick="window.location.href='http://localhost:8080/artifacts/drafpg2';" class="btn btn-primary">Back</button>
        <button type="submit" class="btn btn-success pull-right">Submit</button>
    </div>
</form>