
<h1>Digital Records Approval Form for CASE ID: TR2022-PRJ-123456</h1>
<h2>Digital Indexing (Metadata) Requirements</h2><br/>
<form>
    <div class="row">
        <div class="col-md-4">
            <label for="">Metadata required for Record Declaration and Retrieval. For each record, 
                the following metadata is required at the time of record declaration (insert screen print of data)</label><br/>
            <input class="form-control" id="" name="" type="file"><br/>
            <label for="">Unique Identifier</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Record Class</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Record Title</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Creation Date</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Digitization Date</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Originating Entity</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Functional Description</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
        </div>
        <div class="col-md-4">
            <label for="">Metadata required for Record Disposition and appropriate population of the 
                Notice of Records Destruction and the Certificate of Destruction (insert screen print of data)</label><br/>
            <input class="form-control" id="" name="" type="file"><br/>
            <label for="">Retention Period</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Disposition Activity</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Disposition Date</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Initiator ID</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
        </div>
        <div class="col-md-4">
            <label for="">Metadata for Maintenance: This metadata will only get applied should a record maintenance 
                event occur (e.g. date the record was migrated to the current solution) (insert screen print of metadata)</label><br/>
            <input class="form-control" id="" name="" type="file"><br/>
            <label for="">Event Type</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Event Description</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Event Initiator ID</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Event Date</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
        </div>
    </div>
    <div class="row">
        <button type="button" onclick="window.location.href='http://localhost:8080/artifacts/drafpg1';" class="btn btn-primary">Back</button>
        <button type="button" onclick="window.location.href='http://localhost:8080/artifacts/drafpg3';" class="btn btn-primary">Next</button>
        <button type="submit" class="btn btn-success pull-right">Submit</button>
    </div>
</form>