<h2>Data Sharing Risk Assessment Form for CASE ID: TR2022-PRJ-123456</h2>
<form>
    <div class="row">
        <div class="col-md-12">
            <label for="">Please select the Enterprise process the responses were submitted under</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Name and Role of the person submitting the responses</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Has the Data Owner(s) been engaged for this initiative and reviewed the questions before submittted to EDRMO? 
                Please provide the name(s) of the Data Owner(s) involved in this initiative.</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Please provide a description of the initiative</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">What is the usage and intent for the data being shared. Provide all details for the intended use.</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Does the Third Party for this initiative have an exisiting relationship with CIBC? Please provide details of the Third Party.</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">What is the risk that the Third party is or will become a CIBC competitor?</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Have the data elements for this initiative been captured in a data dictionary document and defined, classified as per the Data Management and Governance Policy and Standards?</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Does the data for this initiative involve Personal Identifiable Information (PII)?</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Does the data for this initiative involve Confidential or Restricted Information?</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Please list the data lements for this initiative or attach supporting documentation identifying them.</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">What is the Privacy Risk Assessment (if applicable)?</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">What is the Legal Assessment (if applicable)?</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">What is the Information Security Assessment (if applicable)?</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
            <label for="">Comments:</label><br/>
            <input class="form-control" id="" name="" type="text"><br/>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-success pull-right">Submit</button>
    </div>
</form>