<div class="row">
    <form method="post" action="/artifacts/add">
        <label for="caseID">Triage/CIRA ID</label>
        <input id="caseID" type="text" name="caseID"/>
        <input type="submit" value="Search" />
    </form>
</div>